[submodule "third_party/implot"]
	path = third_party/implot
	url = git@github.com:epezent/implot.git
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third_party/imnodes"]
	path = third_party/imnodes
	url = git@github.com:jkleiber/imnodes.git
[submodule "third_party/ImGuiColorTextEdit"]
	path = third_party/ImGuiColorTextEdit
	url = git@github.com:jkleiber/ImGuiColorTextEdit.git
[submodule "third_party/nativefiledialog"]
	path = third_party/nativefiledialog
	url = git@github.com:mlabbe/nativefiledialog.git
